#----
#time->Wed May 11 04:44:53 2022
#type=PROCTITLE msg=audit(1652237093.206:20): proctitle=63727970747365747570006C756B73436C6F736500626F6F743331343135393236353374656D70
#type=PATH msg=audit(1652237093.206:20): item=0 name="/sys/fs/pstore/dm-4" nametype=UNKNOWN cap_fp=0 cap_fi=0 cap_fe=0 cap_fver=0 cap_frootid=0
#type=CWD msg=audit(1652237093.206:20): cwd="/tmp"
#type=SYSCALL msg=audit(1652237093.206:20): arch=c000003e syscall=262 success=no exit=-2 a0=ffffff9c a1=7fff228e6110 a2=7fff228e5080 a3=0 items=1 ppid=5980 pid=8863 auid=1000 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=pts0 ses=1 comm="cryptsetup" exe="/sbin/cryptsetup" subj=staff_u:sysadm_r:lvm_t:s0-s0:c0.c1023 key=(null)
#type=AVC msg=audit(1652237093.206:20): avc:  denied  { search } for  pid=8863 comm="cryptsetup" name="/" dev="pstore" ino=19895 scontext=staff_u:sysadm_r:lvm_t:s0-s0:c0.c1023 tcontext=system_u:object_r:pstore_t:s0 tclass=dir permissive=1

policy_module(my_00007_permissive_ausearch-lvm_t-pstore_t, 1.0)

gen_require(`
  type lvm_t;
  type pstore_t;
')

allow lvm_t pstore_t:dir search;
