#[   21.235520] audit: type=1400 audit(1652535091.500:3): avc:  denied  { sys_resource } for  pid=4448 comm="systemd-tmpfile" capability=24  scontext=system_u:system_r:systemd_tmpfiles_t:s0 tcontext=system_u:system_r:systemd_tmpfiles_t:s0 tclass=capability permissive=1
#[   21.235530] audit: type=1400 audit(1652535091.500:4): avc:  denied  { setrlimit } for  pid=4448 comm="systemd-tmpfile" scontext=system_u:system_r:systemd_tmpfiles_t:s0 tcontext=system_u:system_r:systemd_tmpfiles_t:s0 tclass=process permissive=1

policy_module(my_00001_permissive_dmesg-systemd_tmpfiles_t-self, 1.0)

gen_require(`
  type systemd_tmpfiles_t;
')

allow systemd_tmpfiles_t self:capability sys_resource;
allow systemd_tmpfiles_t self:process setrlimit;
