#[   20.663709] audit: type=1400 audit(1651265690.756:3): avc:  denied  { read } for  pid=4481 comm="systemd-udevd" name="hwdb.bin" dev="dm-0" ino=9369189 scontext=system_u:system_r:udev_t tcontext=system_u:object_r:systemd_hwdb_t tclass=file permissive=1
#[   20.663717] audit: type=1400 audit(1651265690.756:4): avc:  denied  { open } for  pid=4481 comm="systemd-udevd" path="/etc/udev/hwdb.bin" dev="dm-0" ino=9369189 scontext=system_u:system_r:udev_t tcontext=system_u:object_r:systemd_hwdb_t tclass=file permissive=1
#[   20.663718] audit: type=1400 audit(1651265690.756:5): avc:  denied  { getattr } for  pid=4481 comm="systemd-udevd" path="/etc/udev/hwdb.bin" dev="dm-0" ino=9369189 scontext=system_u:system_r:udev_t tcontext=system_u:object_r:systemd_hwdb_t tclass=file permissive=1
#[   20.663719] audit: type=1400 audit(1651265690.756:6): avc:  denied  { map } for  pid=4481 comm="systemd-udevd" path="/etc/udev/hwdb.bin" dev="dm-0" ino=9369189 scontext=system_u:system_r:udev_t tcontext=system_u:object_r:systemd_hwdb_t tclass=file permissive=1

policy_module(my_00003_permissive_dmesg-udev_t-systemd_hwdb_t, 1.0)

gen_require(`
  type systemd_hwdb_t;
  type udev_t;
')

allow udev_t systemd_hwdb_t:file { getattr map open read };
