#----
#time->Fri May  6 00:59:40 2022
#type=AVC msg=audit(1651791580.659:21): avc:  denied  { getattr } for  pid=27 comm="kdevtmpfs" path="/dm-4" dev="devtmpfs" ino=621 scontext=system_u:system_r:kernel_t tcontext=system_u:object_r:fixed_disk_device_t tclass=blk_file permissive=1
#----
#time->Fri May  6 00:59:40 2022
#type=AVC msg=audit(1651791580.659:22): avc:  denied  { setattr } for  pid=27 comm="kdevtmpfs" name="dm-4" dev="devtmpfs" ino=621 scontext=system_u:system_r:kernel_t tcontext=system_u:object_r:fixed_disk_device_t tclass=blk_file permissive=1
#----
#time->Fri May  6 00:59:40 2022
#type=AVC msg=audit(1651791580.659:23): avc:  denied  { unlink } for  pid=27 comm="kdevtmpfs" name="dm-4" dev="devtmpfs" ino=621 scontext=system_u:system_r:kernel_t tcontext=system_u:object_r:fixed_disk_device_t tclass=blk_file permissive=1

policy_module(my_00019_permissive_ausearch-kernel_t-fixed_disk_device_t, 1.0)

gen_require(`
  type fixed_disk_device_t;
  type kernel_t;
')

allow kernel_t fixed_disk_device_t:blk_file { getattr setattr unlink };
