#[   21.214980] audit: type=1400 audit(1652225408.459:3): avc:  denied  { getattr } for  pid=4621 comm="hwclock" name="/" dev="proc" ino=1 scontext=system_u:system_r:hwclock_t:s0 tcontext=system_u:object_r:proc_t:s0 tclass=filesystem permissive=1

policy_module(my_00002_permissive_dmesg-hwclock_t-proc_t, 1.0)

gen_require(`
  type hwclock_t;
  type proc_t;
')

allow hwclock_t proc_t:filesystem getattr;
