#[   21.116825] audit: type=1400 audit(1651265843.213:3): avc:  denied  { getattr } for  pid=27 comm="kdevtmpfs" path="/fb0" dev="devtmpfs" ino=150 scontext=system_u:system_r:kernel_t tcontext=system_u:object_r:framebuf_device_t tclass=chr_file permissive=1
#[   21.116829] audit: type=1400 audit(1651265843.213:4): avc:  denied  { setattr } for  pid=27 comm="kdevtmpfs" name="fb0" dev="devtmpfs" ino=150 scontext=system_u:system_r:kernel_t tcontext=system_u:object_r:framebuf_device_t tclass=chr_file permissive=1
#[   21.116830] audit: type=1400 audit(1651265843.213:5): avc:  denied  { unlink } for  pid=27 comm="kdevtmpfs" name="fb0" dev="devtmpfs" ino=150 scontext=system_u:system_r:kernel_t tcontext=system_u:object_r:framebuf_device_t tclass=chr_file permissive=1

policy_module(my_00004_permissive_dmesg-kernel_t-framebuf_device_t, 1.0)

gen_require(`
  type framebuf_device_t;
  type kernel_t;
')

allow kernel_t framebuf_device_t:chr_file { getattr setattr unlink };
