#[   20.975582] audit: type=1400 audit(1651265546.080:3): avc:  denied  { getattr } for  pid=4482 comm="start-stop-daem" path="pid:[4026531836]" dev="nsfs" ino=4026531836 scontext=system_u:system_r:initrc_t tcontext=system_u:object_r:nsfs_t tclass=file permissive=1

policy_module(my_00002_permissive_dmesg-initrc_t-nsfs_t, 1.0)

gen_require(`
  type initrc_t;
  type nsfs_t;
')

allow initrc_t nsfs_t:file getattr;
