#[   21.634009] audit: type=1400 audit(1651266315.270:3): avc:  denied  { create } for  pid=4890 comm="mount" name="blkid" scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=dir permissive=1
#[   21.634039] audit: type=1400 audit(1651266315.270:4): avc:  denied  { create } for  pid=4890 comm="mount" name="blkid.tab" scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=file permissive=1
#[   21.634040] audit: type=1400 audit(1651266315.270:5): avc:  denied  { write } for  pid=4890 comm="mount" path="/run/blkid/blkid.tab" dev="tmpfs" ino=726 scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=file permissive=1
#[   21.720295] audit: type=1400 audit(1651266315.356:6): avc:  denied  { setattr } for  pid=4890 comm="mount" name="blkid.tab-PHRydO" dev="tmpfs" ino=727 scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=file permissive=1
#[   21.720463] audit: type=1400 audit(1651266315.356:7): avc:  denied  { link } for  pid=4890 comm="mount" name="blkid.tab" dev="tmpfs" ino=726 scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=file permissive=1
#[   21.720472] audit: type=1400 audit(1651266315.356:8): avc:  denied  { rename } for  pid=4890 comm="mount" name="blkid.tab-PHRydO" dev="tmpfs" ino=727 scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=file permissive=1
#[   21.720476] audit: type=1400 audit(1651266315.356:9): avc:  denied  { unlink } for  pid=4890 comm="mount" name="blkid.tab" dev="tmpfs" ino=726 scontext=system_u:system_r:mount_t tcontext=system_u:object_r:var_run_t tclass=file permissive=1

policy_module(my_00007_permissive_dmesg-mount_t-var_run_t, 1.0)

gen_require(`
  type mount_t;
  type var_run_t;
')

allow mount_t var_run_t:dir create;
allow mount_t var_run_t:file { create link rename setattr unlink write };
