#----
#time->Fri May 13 23:57:17 2022
#type=PROCTITLE msg=audit(1652479037.236:15): proctitle=7375646F002D69
#type=PATH msg=audit(1652479037.236:15): item=0 name="/proc/4836/stat" inode=20923 dev=00:17 mode=0100444 ouid=1000 ogid=1000 rdev=00:00 obj=staff_u:staff_r:staff_t:s0-s0:c0.c1023 nametype=NORMAL cap_fp=0 cap_fi=0 cap_fe=0 cap_fver=0 cap_frootid=0
#type=CWD msg=audit(1652479037.236:15): cwd="/home/david"
#type=SYSCALL msg=audit(1652479037.236:15): arch=c000003e syscall=257 success=yes exit=7 a0=ffffff9c a1=7ffe2db9c9c0 a2=20000 a3=0 items=1 ppid=4836 pid=4880 auid=1000 uid=1000 gid=1000 euid=0 suid=0 fsuid=0 egid=1000 sgid=1000 fsgid=1000 tty=pts0 ses=1 comm="sudo" exe="/usr/bin/sudo" subj=staff_u:staff_r:staff_sudo_t:s0-s0:c0.c1023 key=(null)
#type=AVC msg=audit(1652479037.236:15): avc:  denied  { open } for  pid=4880 comm="sudo" path="/proc/4836/stat" dev="proc" ino=20923 scontext=staff_u:staff_r:staff_sudo_t:s0-s0:c0.c1023 tcontext=staff_u:staff_r:staff_t:s0-s0:c0.c1023 tclass=file permissive=1
#type=AVC msg=audit(1652479037.236:15): avc:  denied  { read } for  pid=4880 comm="sudo" name="stat" dev="proc" ino=20923 scontext=staff_u:staff_r:staff_sudo_t:s0-s0:c0.c1023 tcontext=staff_u:staff_r:staff_t:s0-s0:c0.c1023 tclass=file permissive=1
#type=AVC msg=audit(1652479037.236:15): avc:  denied  { search } for  pid=4880 comm="sudo" name="4836" dev="proc" ino=20857 scontext=staff_u:staff_r:staff_sudo_t:s0-s0:c0.c1023 tcontext=staff_u:staff_r:staff_t:s0-s0:c0.c1023 tclass=dir permissive=1

policy_module(my_00003_permissive_ausearch-staff_sudo_t-staff_t, 1.0)

gen_require(`
  type staff_sudo_t;
  type staff_t;
')

allow staff_sudo_t staff_t:dir search;
allow staff_sudo_t staff_t:file { open read };
