#----
#time->Wed May 11 03:19:01 2022
#type=PROCTITLE msg=audit(1652231941.589:35): proctitle=6465706D6F64002D62002F746D702F6465706D6F642E36517573735700352E31372E362D67656E746F6F2D7838365F3634
#type=PATH msg=audit(1652231941.589:35): item=1 name="/lib64/ld-linux-x86-64.so.2" inode=63199 dev=00:1d mode=0100755 ouid=0 ogid=0 rdev=00:00 obj=system_u:object_r:ld_so_t:s0 nametype=NORMAL cap_fp=0 cap_fi=0 cap_fe=0 cap_fver=0 cap_frootid=0
#type=PATH msg=audit(1652231941.589:35): item=0 name="/sbin/depmod" inode=996 dev=00:1d mode=0100755 ouid=0 ogid=0 rdev=00:00 obj=system_u:object_r:kmod_exec_t:s0 nametype=NORMAL cap_fp=0 cap_fi=0 cap_fe=0 cap_fver=0 cap_frootid=0
#type=CWD msg=audit(1652231941.589:35): cwd="/usr/src/linux-5.17.6-gentoo"
#type=EXECVE msg=audit(1652231941.589:35): argc=4 a0="depmod" a1="-b" a2="/tmp/depmod.6QussW" a3="5.17.6-gentoo-x86_64"
#type=SYSCALL msg=audit(1652231941.589:35): arch=c000003e syscall=59 success=yes exit=0 a0=55caf02142d0 a1=55caf0210640 a2=55caf0213470 a3=55caf0210bc0 items=2 ppid=2494 pid=2498 auid=1000 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=pts0 ses=1 comm="depmod" exe="/bin/kmod" subj=staff_u:sysadm_r:kmod_t:s0-s0:c0.c1023 key=(null)
#type=AVC msg=audit(1652231941.589:35): avc:  denied  { append } for  pid=2498 comm="depmod" path="/var/log/genkernel.log" dev="dm-0" ino=211751 scontext=staff_u:sysadm_r:kmod_t:s0-s0:c0.c1023 tcontext=system_u:object_r:var_log_t:s0 tclass=file permissive=1

policy_module(my_00005_permissive_ausearch-kmod_t-var_log_t, 1.0)

gen_require(`
  type kmod_t;
  type var_log_t;
')

allow kmod_t var_log_t:file append;
