#[   21.100887] audit: type=1400 audit(1652225827.273:3): avc:  denied  { create } for  pid=4883 comm="mount" name="blkid" scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=dir permissive=1
#[   21.100912] audit: type=1400 audit(1652225827.273:4): avc:  denied  { create } for  pid=4883 comm="mount" name="blkid.tab" scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=file permissive=1
#[   21.100914] audit: type=1400 audit(1652225827.273:5): avc:  denied  { write } for  pid=4883 comm="mount" path="/run/blkid/blkid.tab" dev="tmpfs" ino=659 scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=file permissive=1
#[   20.576018] audit: type=1400 audit(1652240417.416:3): avc:  denied  { setattr } for  pid=4885 comm="mount" name="blkid.tab-xQa0Fp" dev="tmpfs" ino=637 scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=file permissive=1
#[   20.576077] audit: type=1400 audit(1652240417.416:4): avc:  denied  { link } for  pid=4885 comm="mount" name="blkid.tab" dev="tmpfs" ino=636 scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=file permissive=1
#[   20.576086] audit: type=1400 audit(1652240417.419:5): avc:  denied  { rename } for  pid=4885 comm="mount" name="blkid.tab-xQa0Fp" dev="tmpfs" ino=637 scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=file permissive=1
#[   20.576091] audit: type=1400 audit(1652240417.419:6): avc:  denied  { unlink } for  pid=4885 comm="mount" name="blkid.tab" dev="tmpfs" ino=636 scontext=system_u:system_r:mount_t:s0 tcontext=system_u:object_r:var_run_t:s0 tclass=file permissive=1

policy_module(my_00003_permissive_dmesg-mount_t-var_run_t, 1.0)

gen_require(`
  type mount_t;
  type var_run_t;
')

allow mount_t var_run_t:dir create;
allow mount_t var_run_t:file { create link rename setattr unlink write };
